.head{
    position: absolute;
    position: fixed;
    left: 400px;
    width: 100%;
}

.color{
    background-color: rgb(88, 7, 88);
    height: 150px;
    color: white;

}

.ul-nav{
    position: absolute;
    text-align: center;
    font-size: 15px;
    color: white;
    display: flex;
    list-style: none;
    left: 100px;
    top: 50px;
   
}

.color li{
  padding-left: 200px;
  font-size: 16px;
}

img{
    color: white;
}

.horl{
    position: absolute;
    right: 670px;
}

.ligne{
    position: absolute;
    border-bottom: 5px solid white;
    border-radius: 10px;
    width: 100px;  
    bottom: 15px;
    right: 565px;
}

.minute{
    position: absolute;
    right: 520px;
}