

.option{

    position: absolute;
    position: fixed;
    display: flex;
    width: 400px;
    height: 1100px;
    background-color: rgba(104, 101, 101, 0.212);
    bottom: 0px;

  }

  .option ul{
    position: absolute;
    top: 400px;
    list-style: none;
    left: 100px;

  }

  .option li{
    color: rgb(6, 6, 121);
    padding-bottom: 50px;
    cursor: pointer;

  }

  .dec{
    color: rgb(6, 6, 121);
    position: absolute;
    top: 950px;
    left: 150px;
  }

  
  img{
    width: 30px;
    color: rgb(6, 6, 121);

  }